#accueil {
    padding-left: 0px;
    padding-right: 0px;
    background-color: #EEE;
    text-align: center;
    margin: 0px;
}

.present{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)), url(../img/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    align-content: center;
    color: white;
    height: 600px;
}

#card {
    text-align: left;
    background-color: #EEE;
    display: flex;
    justify-content: center;

}

#cardBody {
    width: 90%;
    background-color: white;
    padding: 20px;
    margin: 20px;
    border: 3px solid white;
    border-radius: 0.5%;
    box-shadow: 10px 10px 10px 10px silver;
}

#about {
    border-bottom: 3px solid #0d6efd;
}

#progress {
    display: flex;
    flex-direction: column;
}

figure{
    width: 100%;
}

img {
    width: 100%;
}