#container {
    padding: 0px;
    background-image: url(../img/banner-mobile.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #EEE;
    padding-top: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titleSection {
    text-transform: uppercase;
    color: #1e1e1e;
}

#hr {
    border: 2px solid #0d6efd;
    width: 200px;
}

#cardGroup {
    margin-bottom: 1%;
    text-align: left;
}

#titleCoder {
    color: #1e1e1e;
}

#coder {
    padding-top: 0px;
}

#titleCroissance {
    color: #1e1e1e;
}

#croissance {
    padding-top: 0px;
}

#titleGoogle {
    color: #1e1e1e;
}

#google {
    padding-top: 0px;
}

#titleScreens {
    color: #1e1e1e;
}

#screens {
    padding-top: 0px;
}

#titleSeo {
    color: #1e1e1e;
}

#seo {
    padding-top: 0px;
}

#titleTechnos {
    color: #1e1e1e;
}

#technos {
    padding-top: 0px;
}

#footerCoder {
    background-color: silver;
    text-align: left;
}

#footerCroissance {
    background-color: silver;
    text-align: left;
}

#footerGoogle {
    background-color: silver;
}

#footerScreens {
    background-color: silver;
}

#footerSeo {
    background-color: silver;
}

#footerTechnos {
    background-color: silver;    
}