#containerContact {
    background-image: linear-gradient(rgba(0, 105, 255, 0.5),
            rgba(0, 105, 255, 0.5)), url(../img/contact-bg.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 0px;
}

#cardBody {
    color: red;
}

#titleSection {
    text-transform: uppercase;
    color: #1e1e1e
}

#hr {
    border: 2px solid #0d6efd;
    width: 200px;
}

#containerForm {
    margin-top: 4%;
}

.sectionTitle {
    text-align: left;
    color: #1e1e1e
}

.hrForm {
    border: 2px solid #0d6efd;
    margin-bottom: 4%;
}

.label {
    margin-bottom: 2%;
}

.coordonnéesContact {
    display: flex;
    flex-direction: row;
}

.iconeContain {
    height: 18px;
    width: 18px;
    margin-right: 1%;
}

.icone {
    height: 100%;
    width: 100%;
    object-fit: auto;
}